name: publish docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: build docs
        run: ./gradlew dokkaHtml

      - name: make index redirect
        run: echo '<meta http-equiv="refresh" content="0; url=https://spokestack.github.io/spokestack-tray-android/-spokestack-tray/">' > ./SpokestackTray/build/dokka/html/index.html

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./SpokestackTray/build/dokka/html
